*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page{
  padding: 1rem;
  width: 100%;
  min-height: calc(100vh - 4rem);
  /* background-color: #afb9c8;
   */
  /* background: url(https://i.pinimg.com/originals/57/37/29/573729069bb9a1c38bdb5da44e872ae5.jpg) no-repeat center ; */
}
button{
  cursor: pointer;
}

