.edit-photo-book{
  position: relative;
}
.edit-photo-book h2{
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}
.edit-photo-book_DnD-box{
  display: flex;
  justify-content: space-evenly;
}
.edit-photo-book button{
  border: none;
  font-size: 5rem;
  position: absolute;
  bottom: 4.5rem;
  left: 29%;
  cursor: pointer;
  background-color: transparent;
}