.collage-template1{
  position: relative;
  height:30rem;
  width: calc(30rem * 1.414);
  margin: auto;
  padding: 2rem;
}
.collage-template1_grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: repeat(2, 1fr);
}

.collage-template1 .box1-warp{
 background-color: coral;
 grid-column: 1 / span 1;
 grid-row: 1 / span 1;
}
.collage-template1 .box2-warp {
  background-color: rgb(217, 255, 80);
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}
 .collage-template1 .box3-warp {
  background-color: rgb(60, 194, 100);
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}
.collage-template1 .box4-warp {
  background-color: rgb(104, 97, 202);
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}
.collage-template1 .box5-warp {
  background-color: rgb(179, 23, 108);
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  /* grid-column-start: 2;
  grid-column-end: 4; */
}
.collage-template1 .box6-warp {
  background-color: rgb(129, 119, 115);
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

.collage-template1_box {
  height: 100%;
  width: 100%;
  
}
.collage-template1 * {overflow: hidden;}

.collage-template1 .box-circ-warp{
  position: absolute;
  background-color: darkcyan;
  height: 300px;
  width: 300px;
  top: calc(50% - 150px);
  left: calc(75% - 150px);
  border-radius: 50%;
  border: white 1rem solid;
}