.NavBar{
  height: 4rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.NavBar img {
  height: 2.5rem;
  background-color: #fff;
  width: 2.5rem;
  margin: 0.7rem;
}
.NavBar i {
  color: #fff;
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}
